doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")
        link(rel="stylesheet", href="/static/CSS/CSS/Templates/Normal User/base.css")
        link(rel="shortcut icon", href="/static/Img/Logos/logo.png", type="image/x-icon")
        block style 
        title 
            block title
    body 
        .all
            .notification-wrapper
                .another-wrapper
                    button.notification Right click is disabled in this website.
        block body 
        footer 
            .copyright
                h4 Made with WebWish 
                a(href="/") Visit now
    script(src="../static/Js/base.js")
    block js