extends base.pug 

block title 
    | Create wishes through web | Web Wish | Home

block style 
    link(rel="stylesheet", href="/static/CSS/CSS/index.css")

block body 
        main
            section.creators
                .img-container
                .text-container
                    h3 Created by <b>Adithya K.G.</b>, <br><b>Aryan Sisodiya</b> and <br><b>Arjun K.G.</b>

            .contact-container 
                button.contact Contact us!

            section.why
                h2.why-head Why Web Wish?
                p.content Web Wish is free for normal use. It is also good for making websites that inspire others. You can create birthday wishes for others making them feel really nice. It creates a sense of creativity in others minds. It would be nice to look if the creativity is worth. Its time for you to shine. Its time to get to work.
                h3.important Try Web Wish this week, no today, not at all, this minute, no, no, no
                h1.most-important RIGHT NOW
                p.end Waiting for you....

block js 
    script(src="/static/Js/index.js" srcset="/static/Js/index.js")