doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")
        link(rel="stylesheet", href="../static/CSS/CSS/notfound.css")
        link(rel="shortcut icon", href="../static/Img/logos/logo.png", type="image/x-icon")
        title Error 404! Page Not Found

    body 
        a(href="/")
            img(src="../static/img/Logos/logo.png", alt="Logo" id="logo")
        
        p 
            b 404.
            ins That's an Error

        p 
            | The requested URL (#{url}) was not found on the server
            br
            ins That's all we know