form(action='/users/normal/birthday-website/template1', method="POST")
    button(type="submit") Go to template 1
form(action='/users/normal/birthday-website/template2', method="POST")
    button(type="submit") Go to template 2
form(action='/users/normal/birthday-website/template3', method="POST")
    button(type="submit") Go to template 3
form(action='/users/normal/birthday-website/template4', method="POST")
    button(type="submit") Go to template 4
| hello World